{% extends 'base.html' %}

{% block body %}
<h1>{{plan.name}}</h1>
<h3>{{category.name}} at {{timeslots[order]}}</h3>
{% for activity in activities %}
<div class="row activity">
  <div class="col-md-3 photo">
    <img src="/static/images/{{activity.photo_url}}">
  </div>
  <div class="col-md-9 body">
    <form method="POST">
        <input type="hidden" name="activity_id" value="{{activity.id}}"/>
        <a href="{{activity.website_url}}" target="_blank" class="lead-title">{{activity.title}}</a>
        <button type="submit" class="btn btn-success add-button"><span class="glyphicon glyphicon-time"></span> Add</button>
    </form>
    <p>{{activity.description}}</p>
  </div>
</div>
{% endfor %}

{% endblock %}