<!DOCTYPE html>
<html>
    <head>
        <title>Simple San Francisco</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.js"></script>
        <script type="text/javascript" src="/static/js/application.js"></script>
    </head>
    <body class="{{self|quoted}}">
        {% include 'fb.html' %}
        <div class="container">
            <nav class="navbar navbar-default upper-navbar" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#simple-sf-collapse">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand brand-name" href="{{url_for("index")}}">Simple SF</a>
                </div>
                <div class="collapse navbar-collapse" id="simple-sf-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="http://www.linkedin.com/in/malgorzatamigdal/en" target="_blank">About me</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{url_for("plans")}}">My plans</a></li>
                        <li><a href="{{url_for("new_plan")}}">New plan</a></li>
                        <li><span id="fb-face"></span></li>
                        {% if current_user.is_authenticated() %}
                            <li><a href="{{url_for("logout")}}">Logout</a></li>
                        {% else %}
                            <li><a href="{{url_for("login")}}">Login</a></li>
                        {% endif %}
                    </ul>
                {% for message in get_flashed_messages() %}
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{message}}
                </div>
                {% endfor %}
            </nav>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
