<!DOCTYPE html>
<html>
    <head>
        <title>Simple San Francisco</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.js"></script>
        <script type="text/javascript" src="/static/js/application.js"></script>
    </head>
    <body class="photo-background">
        {% include 'fb.html' %}
        <div class="container">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{url_for("index")}}">Simple SF</a>
                </div>
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{url_for("plans")}}">My plans</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li id="fb-face"></li>
                    {% if current_user.is_authenticated() %}
                        <li><a class="logout navbar-brand" href="/logout">Logout</a></li>
                    {% else %}
                        <li><a href="{{url_for("login")}}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
            {% for message in get_flashed_messages() %}
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{message}}
            {% endfor %}
        <div class="main-content-first">
            <div class="titles">
                <em class="very-main-title">Plan San Francisco trip</em>
                <em class="main-title">Fast. Easy. Only best activities.</em>
            </div>
                <a href="{{url_for("new_plan")}}" class="btn btn-default btn-lg first-button">Create plan</a>

            <div id="footer">
                <div class="navbar-header">
                    <a class="navbar-brand aboutme" href="http://www.linkedin.com/in/malgorzatamigdal/en" target="_blank">About me</a>
                </div>
            </div>
        </div>
    </body>
</html>
