{% extends 'base.html' %}
{% block body %}
    {% for plan in plans %}
    <div class="row">          
        <div class="col-md-offset-1 col-md-3 as">
            <div class="panel panel-default">
                <div class="panel-body hero">
                    <div class="post">
                        <h1 class="plan-name">{{plan.name}}</h1>
                        <a href="{{url_for("view_plan", id=plan.id)}}" class="btn btn-default edit">Edit plan</a>
                        <a href="{{url_for("see_summary", id=plan.id)}}" class="btn btn-default see-summary">See summary</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}