{% extends 'base.html' %}
{% block body %}
<h1>{{plan.name}}</h1>
<h3>{{plan.start_date|datetime('%B %d')}} to {{plan.end_date|datetime('%B %d, %Y')}}</h3>

{% for timeline in timelines %}
<div class="panel panel-default">
    <div class="panel-heading">{{timeline.date|datetime('%B %d')}}</div>
    <div class="panel-body">
        <div class="plan-buttons btn-group">
            {% for order, time in timeslots.iteritems() %}
                <a href="{{url_for("categories_for_timeslot", plan_id=plan.id, day=timeline.id, order=order)}}" class="btn btn-default a-10am">{{time}}</a>
                {% endfor %}
        </div>
        {% for timeline_activity in activities_by_timeline.get(timeline.id, []) %}
            <div>{{timeline_activity.activity_id}}, {{timeline_activity.activity.title}}</div>

        {% endfor %}

    </div>

</div>
{% endfor %}

{% endblock %}
