{% extends 'base.html' %}
{% block body %}
{% for timeline, forecast in days %}
<div class="panel panel-default row">
    <div class="panel-heading panel timeline-panel">
        <h4 class="time">{{timeline.date|datetime('%B %d')}}</h4> 
                <img src="/static/weather_icons/{{forecast.icon}}.png" class="weather-icon">
    </div>
    <div class="panel-body">
        <div class="plan-buttons">
            {% for order, time in timeslots.iteritems() %}
                {% if (timeline.id, order) in activities_by_timeslot %}
                    {% set activity = activities_by_timeslot[(timeline.id, order)] %}
                    <a href="{{activity.activity.website_url}}" class="plan-activity" style="background-image: url('/static/images/{{activity.activity.photo_url}}')" target="_blank">
                        <h2 class="time">{{time}}</h2>
                        <h3 class="title">{{activity.activity.title}}</h3>
                    </a>
                    <h4>{{activity.activity.description}}</h4>
                    <a href="{{activity.activity.google_map_url}}" target="_blank"><img class="google-link" src="/static/icons/glyphicons_242_google_maps@2x.png" class="weather-icon"></a>
                {% endif%}
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}