{% extends 'base.html' %}
{% block body %}
{% set public_url = "http://" + FB_DOMAIN + url_for("see_guide", hash=plan.hashed_url) %}


<div class="row">
    <div class="col-md-7 plan-name-summary"><h1>{{plan.name}}</h1></div>
    <div class="hashed-link col-md-3"><input class="text-area" type="text" size="30" value="{{public_url}}" /></div>
    <div class="col-md-2">
        <button type="submit" class="btn btn-default create-plan send-plan">Copy link and send <br>guide to you friends!</button>
    </div>
</div>
<a href="https://twitter.com/share" class="twitter-share-button" target="_blank" data-url="{{public_url}}" data-size="large">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>
<fb:share-button href="http://onet.pl" width="300" type="button_count"></fb:share-button>
{% for timeline, forecast in days %}
<div class="panel panel-default row">
    <div class="panel-heading panel timeline-panel">
        <h4 class="time">{{timeline.date|datetime('%B %d')}}</h4> 
                <img src="/static/weather_icons/{{forecast.icon}}.png" class="weather-icon">
    </div>
    <div class="panel-body">
        <div class="plan-buttons">
            {% for order, time in timeslots.iteritems() %}
                {% if (timeline.id, order) in activities_by_timeslot %}
                    {% set activity = activities_by_timeslot[(timeline.id, order)] %}
                    <div class="row activity-summary">
                        <div class="col-md-1">
                            <table>
                                <tr><td>
                                    <a href="{{activity.activity.google_map_url}}" target="_blank"><img class="google-link" src="/static/icons/glyphicons_242_google_maps@2x.png" class="weather-icon">
                                        <div class="tooltipcontainer">
                                            <div class="tooltip">Here some info</div>
                                        </div>
                                    </a>
                                </td></tr>
                            </table>
                        </div>
                        <div class="col-md-3">
                            <a href="{{activity.activity.website_url}}" class="plan-activity" style="background-image: url('/static/images/{{activity.activity.photo_url}}')" target="_blank">
                                <img src="/static/images/{{activity.activity.photo_url}}" class="print-only" />
                                <h2 class="time">{{time}}</h2>
                                <h3 class="title">{{activity.activity.title}}</h3>
                            </a>
                        </div>
                        <div class="col-md-8 summary-description">
                            <h4>{{activity.activity.description}}</h4>
                        </div>
                    </div>
                {% endif%}
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}
{% endblock%}
